h1{

    background: #87caa3;
    padding: 15px;
}
.color-one{
    background: #995757;
    padding: 10px;
}
.color-two{
    background: #ad4d4d;
    padding: 10px;
} 
.color-three{
    background: #680e0e;
    padding: 10px;
}
 .color-four{
    background: #327521;
    padding: 10px;
 }
  .color-five{
    background: #bb2276;
    padding: 10px;
  }
   .color-six{
    background: #1ab7df;
    padding: 10px;
   }
    .color-seven{
        background: #d6e227;
        padding: 10px;
    }
     .color-eight{
        background: #a5a399;
        padding: 10px;
     }
      .color-nine{
        background: #13948d;
        padding: 10px;
      }
       .color-ten{
        background: #4d8550;
        padding: 10px;
       }
        .color-eleven{
            background: #b36666;
            padding: 10px;
        }
        .color-twelve{
            background: #4c63c9;
            padding: 10px;
        }
        .color-thirteen{
            background: #6d17bd;
            padding: 10px;
        }
        .color-fourteen{
            background: #dd1784;
            padding: 10px;
        } 